body {
    margin: 0;
    display: flex;
    width:100vw;
    height:100vh;
    justify-content: center;
    align-items: center;
}

.login__form__label {
    margin: 10px 0 0 0;
}

.login__title {
    font-size: 25px;
    width: 250px;
    text-align: center;

}

.login__register {
    margin-top: 5px;
    text-align: center;
    display: block;
}

.login {
    background-color: #101010;
    border-radius: 5px;
    padding: 20px;
}

.login__form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login__button {
    margin-top: 10px;
}

