:root {
    --input-background-color: rgba(255,255,255,0.13);
    --input-border-color: rgba(255,255,255,0.28);
    --input-border-color-focus: rgba(255,255,255,0.5);

    --primary-color: #4eb5f1;
    --button-primary-color: #4eb5f1;
    --button-primary-color-hover: #4095c6;
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: black;
    margin: 0;

}
p {
    color: white;
}

span {
    color: white;
}

label {
    color: white;
}


button {
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 10px;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.2s;
}

.button--primary {
    background-color: var(--button-primary-color);
}

.button--primary:hover {
    background-color: var(--button-primary-color-hover);
}


/*input styles*/
input[type=text], input[type=password] {
    padding:5px;
    border-radius: 5px;
    border: 1px solid var(--input-border-color);
    background-color: var(--input-background-color);
    caret-color: var(--input-border-color-focus);
    color: white;
}

input[type=text]:focus , input[type=password]:focus {
    border: 1px solid var(--primary-color);
    outline: none;
}
/*end input styles*/

/*select styles*/
select {
    padding:5px;
    border-radius: 5px;
    border: 1px solid var(--input-border-color);
    background-color: var(--input-background-color);
    color: white;
}
select:focus {
    border: 1px solid var(--input-border-color);
    outline:none;
}

select option {
  margin:5px;
  background: #2f2f2f;
}
/*end select styles*/

.error {
    color: white;
    background-color: #de5252;
    border-radius: 5px;
    border: 1px solid #ee3838;
    padding: 10px;
}



.box-color {

    cursor: pointer;
    width:125px;
    height: 175px;
    border-radius: 5px;
    display:none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    border: 1px solid rgba(255,255,255,0.7);
    background-color: rgba(255,255,255, 0.1);
    margin-right: 15px;
}

.box-color:hover {
    border: 1px solid #4eb5f1;
    background-color: rgba(255,255,255, 0.15);
}


.check-box {
position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   border-radius: inherit;
   background-color: rgba(0,0,0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    pointer-events: none;

}


.error-box {
 position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   border-radius: inherit;
   background-color: rgba(0,0,0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    pointer-events: none;

}


#logout-button {
    position: fixed;
    bottom: 20px;
    right: 20px;

}
